In [31]:
import pandas as pd
import numpy as np

In [32]:
file_to_load = "Resources/pymol_data.csv"

pymol_data = pd.read_csv("pymol_data.csv")
pymol_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [33]:
# Player Count
total_players = pymol_data.SN.nunique()
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [35]:
# Purchase Analysis
uni_items = len(pymol_data["Item ID"].value_counts())
ave_price = pymol_data["Price"].mean()
purchase = pymol_data["Purchase ID"].count()
rev_total = pymol_data["Price"].sum()

summarydf = pd.DataFrame({"Number of Unique Items":[uni_items],
                          "Average Price":[ave_price],
                          "Number of Purchases":[purchase],
                          "Total Revenue":[rev_total]
                         })

# Formatting
summarydf.style.format({"Average Price":"${:.2f}", "Total Revenue": "${:,.2f}"})

In [36]:
# Gender Demographics 
gen_df = pymol_data[["SN", "Gender"]]
gen_df.shape
                     
gen_df = gen_df.drop_duplicates()
gen_df.shape

(576, 2)

In [15]:
gen_count = gen_df["Gender"].value_counts()
per_player = gen_count / total_players

In [37]:
demo = pd.DataFrame({"Total Number":gen_count,"Percentage of Players":per_player})
demo.style.format({"Percentage of Players":"{:.2%}"})

In [62]:
# Purchase Analysis / Gender
gender =pymol_data.groupby("Gender")

pur_count = gender["Purchase ID"].count()
pur_price = gender["Price"].mean()
value = gender["Price"].sum()
pur_per_person = value / gen_count

analysis = pd.DataFrame({"Purchase Count":pur_count, "Average Purchase Price":pur_price, "Total Purchase Value":value, "Avg Total Purchase per Person": pur_per_person})
analysis.style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:.2f}"})

In [63]:
# Age Demographics
group_age_data = pymol_data[["SN", "Age"]]
group_age_data = group_age_data.drop_duplicates()
group_age_data.shape

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [65]:
group_age_data["Age Groups"] = pd.cut(group_age_data["Age"], bins, labels=bin_names)
group_age_data.head(10)

group_age_data = group_age_data.groupby("Age Groups")
total_count = group_age_data["Age"].count()
percentage = total_count / total_players

demo_age = pd.DataFrame({"Total Count":total_count, "Percentage of Players":percentage})
demo_age.style.format({"Percentage of Players":"{:.2%}"})

In [66]:
# Age - Purchasing Analsis

bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pymol_data["Age Group"] = pd.cut(pymol_data["Age"], bins, labels=bin_names)
group_age = pymol_data.groupby("Age Group")
group_age.head()


purchase_count = group_age["Purchase ID"].count()
price = group_age["Price"].mean()
value = group_age["Price"].sum()
purchase = value / total_count

age_analysis = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":price, "Total Purchase Value":value, "Avg Total Purchase per Person":purchase})
age_analysis.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

In [74]:
# Top Spenders

spend_df = pymol_data.groupby(["SN"])

purchase_count = spend_df["Purchase ID"].count()
price = spend_df["Price"].mean()
value = spend_df["Price"].sum()


top_spend_df = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":price, "Total Purchase Value":value})

top_spend_df = top_spend_df.sort_values(["Total Purchase Value"], ascending=False)

top_spend_df["Average Purchase Price"] = top_spend_df["Average Purchase Price"].map("${:,.2f}".format)
top_spend_df["Total Purchase Value"] = top_spend_df["Total Purchase Value"].map("${:,.2f}".format)

top_spend_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]].head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

In [76]:
# Most Popular Item

pop_items_df = pymol_data.groupby(["Item ID", "Item Name"])

purchase_count = pop_items_df["Purchase ID"].count()

pop_items_total = pop_items_df["Price"].sum()

pop_item_price = pop_items_total / purchase_count

items = pd.DataFrame({"Purchase Count":purchase_count, "Item Price": pop_item_price, "Total Purchase Value":pop_items_total})

item_summary = pop_items.sort_values(["Purchase Count"], ascending=False)

item_summary["Item Price"] = item_summary["Item Price"].map("${:,.2f}".format)
item_summary["Total Purchase Value"] = item_summary["Total Purchase Value"].map("${:,.2f}".format)


item_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [77]:
# Most Profitable

profit_items = items.sort_values(["Total Purchase Value"], ascending = False)

profit_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80