In [8]:
import pandas as pd
import numpy as np

In [9]:
file_to_load = "Resources/pymol_data.csv"

pymol_data = pd.read_csv("pymol_data.csv")
pymol_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
# Player Count
total_players = pymol_data.SN.nunique()
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [11]:
# Purchase Analysis
uni_items = len(pymol_data["Item ID"].value_counts())
ave_price = pymol_data["Price"].mean()
purchase = pymol_data["Purchase ID"].count()
rev_total = pymol_data["Price"].sum()

summarydf = pd.DataFrame({"Number of Unique Items":[uni_items],
                          "Average Price":[ave_price],
                          "Number of Purchases":[purchase],
                          "Total Revenue":[rev_total]
                         })

# Formatting
summarydf.style.format({"Average Price":"${:.2f}", "Total Revenue": "${:,.2f}"})

In [13]:
# Gender Demographics 
gen_df = pymol_data[["SN", "Gender"]]
gen_df.shape
                     
gen_df = gen_df.drop_duplicates()
gen_df.shape

(576, 2)

In [15]:
gen_count = gen_df["Gender"].value_counts()
per_player = gen_count / total_players

In [18]:
demo = pd.DataFrame({"Total Number":gen_count,"Percentage of Players":per_player})
demo.style.format({"Percentage of Players":"{:.2%}"})